.header-support-phone{
    display:flex;
    align-items:center;
    gap:6px;
    position: relative;
    top: 2px;
}
.header-support-phone > img{
    width: 16px;
    height: 16px;
}

.header-support-phone > span{
    display: none;
}
@media (min-width:1024px){
    .header-support-phone > span{
        display: block;
    }
    .header-support-phone{
        position: relative;
        top:5px;
    }
    .Header:not(.Header--sidebar) .Header__Wrapper .Header__FlexItem.Header__FlexItem--fill{
    flex: 0 0 60%;
    max-width: 60%;
    }
    .Header:not(.Header--sidebar) .Header__Wrapper .Header__FlexItem.Header__FlexItem--fill.header--icons {
flex: 0 0 25%;
    max-width: 25%;
}
}